body {
  font-family: Arial, sans-serif;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px; 
  border-color: black;
  width: 300px;
}

h2 {
  text-align: center;
}

input {
  width: 80%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px;
  background: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}
